# Don't version control database access details
/www/dbconf.php

# IntelliJ project files
.idea
*.iml
out
gen

# Data created by the MySql docker container. Mounted locally but no need to commit to the repository
sqldata